@use '../../styles/helpers' as *;
.standards {
  padding-block: fluid(80, 60);
  background-color: var(--color-brown-900);

  &__details {
    display: block;
  }

  &__header {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    align-items: start;
    column-gap: 24px;
    margin-bottom: fluid(50, 40);
    list-style: none;
    cursor: pointer;

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    font-family: 'Russo One', sans-serif;
    line-height: 1.2;
  }

  &__summary {
    display: grid;
    grid-template-columns: auto 60px;
    align-items: center;
    gap: 14px 24px;
    font-size: fluid(24, 20);
    line-height: 1.3;
    transition: color var(--transition-duration);
    width: max-content;
    justify-self: end;

    @include hover {
      color: var(--color-accent);

      .standards__summary-icon {
        background-color: var(--color-accent);
        box-shadow: 0 0 18px rgba(181, 121, 0, 0.45);
        transform: translateY(-1px);
      }
    }
  }

  &__summary-icon {
    position: relative;
    display: inline-flex;
    width: fluid(60, 40);
    height: fluid(60, 40);
    background-color: var(--color-brown);
    border-radius: var(--border-radius-5);
    transition:
      background-color var(--transition-duration),
      box-shadow var(--transition-duration),
      transform var(--transition-duration);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      width: fluid(19, 13);
      height: 1px;
      background-color: var(--color-white);
      transition-duration: var(--transition-duration);
    }

    &::before {
      left: 50%;
      transform: translate(-90%, -50%) rotate(35deg);
    }

    &::after {
      right: 50%;
      transform: translate(90%, -50%) rotate(-35deg);
    }
  }

  &__details[open] &__summary-icon {
    &::before {
      transform: translate(-90%, -50%) rotate(-35deg);
    }

    &::after {
      transform: translate(90%, -50%) rotate(35deg);
    }
  }

  &__list {
    display: grid;
    row-gap: 20px;
  }

  &__item {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(220px, 0.8fr) auto;
    column-gap: 20px;
    padding-bottom: 20px;
    border-bottom: var(--border-width-1) solid rgba(255, 255, 255, 0.1);
  }

  &__item-title,
  &__item-code,
  &__link {
    font-size: fluid(24, 20);
    line-height: 1.3;
  }

  &__item-title {
    font-weight: 400;
  }

  &__item-code {
    color: var(--color-gray);
  }

  &__link {
    display: inline-flex;
    align-items: center;
    column-gap: 12px;
    white-space: nowrap;
  }

  &__link-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 21px;
    height: 21px;
    color: var(--color-accent);
    background-color: rgba(181, 121, 0, 0.2);
    border-radius: 50%;

    .icon {
      --iconSize: 11px;
    }
  }

  @include mobile {
    &__header {
      grid-template-columns: 1fr;
      row-gap: 40px;
      margin-bottom: 40px;
    }

    &__summary {
      grid-template-columns: auto 40px;
      justify-content: start;
    }

    &__item {
      grid-template-columns: 1fr;
      row-gap: 20px;
    }

    &__link {
      justify-self: start;
    }
  }
}
