@use '../../styles/helpers' as *;
.cases {
  position: relative;
  padding-block: fluid(80, 60);
  background-color: var(--color-brown-900);

  &__header {
    margin-bottom: fluid(40, 30);
  }

  &__title {
    font-family: 'Russo One', sans-serif;
    line-height: 1.2;
  }

  &__list {
    display: grid;
  }

  @include mobile {
    &__header {
      margin-bottom: 40px;
    }
  }
}

.cases-card {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: fluid(20, 10);
  padding-block: fluid(40, 20);
  border-top: var(--border-width-1) solid var(--color-gray-300);

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: fluid(380, 200);
  }

  &__title {
    margin-bottom: fluid(10, 8);
    font-family: 'Arial Black', sans-serif;
    line-height: 1.3;
  }

  &__description {
    max-width: 18.5em;
    font-size: fluid(24, 20);
    line-height: 1.3;
    color: var(--color-gray);
  }

  &__image {
    display: block;
    width: 100%;
    height: fluid(380, 200);
    object-fit: cover;
    border-radius: var(--border-radius-20);
  }

  @include mobile {
    grid-template-columns: 1fr;
    row-gap: 20px;
    padding-block: 40px;

    &__content {
      display: contents;
      min-height: auto;
    }

    &__title {
      margin-bottom: 10px;
      font-size: 20px;
    }

    &__description {
      font-size: 20px;
    }

    &__image {
      aspect-ratio: 350 / 200;
      height: auto;
    }
  }
}
