@use './helpers' as *;
:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-brown: #211b17;
  --color-brown-900: #170f0b;
  --color-brown-dark: #090504;

  --color-accent: #b57900;

  --color-gray: rgba(255, 255, 255, 0.6);
  --color-gray-300: rgba(255, 255, 255, 0.3);
  --color-gray-200: rgba(255, 255, 255, 0.2);

  --border: var(--border-width-2) solid var(--color-gray-200);

  --border-width-2: 2px;
  --border-width-1: 1px;

  --border-radius-32: 32px;
  --border-radius-20: 20px;
  --border-radius-10: 10px;
  --border-radius-5: 5px;

  --font-family-base: 'Arial Regular', sans-serif;

  --container-width: #{fluid-to-laptop(
      $container-desktop-width,
      $container-laptop-width
    )};
  --container-padding-x: 20px;

  --section-padding-y: 40px;

  --transition-duration: 0.2s;
}
