@use '../../styles/helpers' as *;
.logo {
  display: inline-flex;
  align-items: center;
  width: fluid(216, 140);

  @include hover {
    opacity: 0.8;
  }

  &__image {
    width: 100%;
    height: auto;
    display: block;
  }
}
