@use '../../styles/helpers' as *;
.service-faq {
  padding-block: fluid(80, 60);
  background-color: var(--color-brown-900);

  &__header {
    margin-bottom: 40px;
  }

  &__title {
    font-family: 'Russo One', sans-serif;
    line-height: 1.2;
  }

  &__list {
    display: grid;
    gap: 4px;
  }

  &__item {
    background-color: var(--color-brown);
    border-radius: var(--border-radius-5);
    transition: background-color var(--transition-duration);

    &[open] {
      .service-faq__icon {
        &::after {
          transform: translate(-50%, -50%) rotate(0deg);
        }
      }
    }

    @include hover {
      background-color: rgba(255, 255, 255, 0.1);

      .service-faq__summary {
        color: var(--color-accent);
      }

      .service-faq__icon {
        background-color: var(--color-accent);
        color: var(--color-brown-dark);
      }
    }
  }

  &__summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: fluid(40, 20);
    min-height: fluid(71, 68);
    padding: 20px fluid(30, 20);
    color: var(--color-white);
    cursor: pointer;
    list-style: none;
    transition: color var(--transition-duration);

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__question {
    font-size: fluid(24, 20);
    line-height: 1.3;
  }

  &__icon {
    position: relative;
    flex-shrink: 0;
    width: 28px;
    height: 28px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: background-color var(--transition-duration);

    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      width: 10px;
      height: 1px;
      background-color: currentColor;
      border-radius: 1em;
      transform: translate(-50%, -50%);
      transition: transform var(--transition-duration);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }

  &__content {
    max-width: 920px;
    padding: 0 fluid(68, 20) 20px fluid(30, 20);
  }

  &__answer {
    font-size: fluid(20, 18);
    line-height: 1.3;
    color: var(--color-gray);
  }

  @include laptop {
    &__content {
      max-width: 760px;
    }
  }

  @include tablet {
    &__content {
      max-width: 640px;
    }
  }

  @include mobile {
    &__header {
      margin-bottom: 40px;
    }
  }

  @include mobile-s {
    &__summary {
      align-items: flex-start;
    }

    &__icon {
      margin-top: 1px;
    }
  }
}
