@use '../../styles/helpers' as *;
.icon {
  --iconSize: #{fluid-to-laptop(28, 24)};

  @include square(var(--iconSize));

  display: inline-flex;
  flex-shrink: 0;
  color: inherit;
  background-color: currentColor;
  mask: var(--iconUrl) center / contain no-repeat;

  &[data-fill] {
    background-color: currentColor;
  }
}
